body{
  margin: 0;
  background-color: powderblue;
}
h1{
  margin-top: 0;
  color: #C98474;
  font-size: 50px;
}
.IMG{
  height: 200px;
  width: 200px;
}
.game_img{
  text-align: center;  
}
#title{
 background-color: #powderblue;
  color: #C98474;
  text-align: center;
}
.container-fluid{
  padding: 3% 15%
}
h2{
  color: #C98474;
  font-size: 20px;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;

}
h3 {
  font-family: "Montserrat-Bold";
  color: #C98474;
}
#description {
  text-align: center;
}
#skill {
  background-color: #D0B8A8;
  padding: 5% 7%;
}
.skill-box {
  text-align: center;
}
#Education {
  background-color: #D0B8A8;
}
#cta {
  text-align: center;
  background-color: #D0B8A8;
  padding: 7% 15%;
}
#Education {
  text-align: center;
}
#work {
  text-align: center;
}
.navbar-toggler {
  border-color: #fff;
}
.heading-cta {
  text-align: center;
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.fa-brands{
  margin: 20px 10px;
}
.card-body{
  text-align: center;
}
.credits a {
  color: #C98474;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}
.form-control {
  border-color: #C98474;
  background-color: powderblue;
}
